<h2>Contact us!</h2>

<form class="contactform">
  <p class="loginp">E-Mail</p>
  <input type="email" placeholder="your email" />
  <br />
  <p class="loginp">Nachricht</p>
  <textarea></textarea>
  <br />
  <br />
  <input type="submit" value="Send" />
</form>