<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>HTML5 Boilerplate</title>
    <link rel="stylesheet" href="/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <a href="/" class="header">Start</a>
      <a href="/foryou" class="header">For You</a>
      <a href="/ranking" class="header">Ranking</a>
      <a href="/new_post" class="header ufelade">Home</a>
      <button><a href="/login" class="header">Login</a></button>
      <button><a href="/register" class="header">Register</a></button>
    </header>

    {{{body}}}

    <footer>
      <a href="/impressum">Impressum</a>
      <h3>Created by Yannik & Fabio</h3>
      <a href="/">Start</a>
    </footer>
    <a id="top"></a>
  </body>

</html>