<form action="/login" method="POST">
  <p class="loginp">Username</p>
  <input name="username" type="text" placeholder="your username" />
  <p class="loginp">Passwort</p>
  <input name="password" type="password" placeholder="your password" />
  <br />
  <br />
  <input class="fat" type="submit" value="Login" />
  <button class="loginbutton" href="/register">Sign In</button>
</form>