<h1>Ds isch d Postdetail Site</h1>

<p>Willkommen auf meiner Website. Hier wird in Kürze eine interaktive Webapplikation entstehen. Viel Vergnügen!</p>

<img src="construction.gi" width="200">

{{> contactform}}