<form action="/register" method="POST">
  <p class="loginp">Username</p>
  <input name="username" type="text" />
  <p class="loginp">Passwort</p>
  <input name="password" type="password" />
  <br />
  <br />
  <input class="fat" type="submit" value="Sign In" />
  <button class="loginbutton" href="/login">Login</button>
</form>