<h1>Welcome on FrameFame!</h1>

<p>The platform where you can have your work rated.</p>

<button class="startbutton"><a href="/foryou">Look at others work</a></button>
<button class="startbutton"><a href="/new_post">Look at others work</a></button>