* {
  font-family: "Titillium Web", sans-serif;
}
.title {
  font-family: "Titillium Web", serif;
  font-weight: 200;
  font-style: normal;
}
/*header stuff*/
.header {
  font-family: "Titillium Web", serif;
  font-weight: 900;
  font-style: normal;
  text-decoration: none;
  color: black;
}

.ufelade {
  margin-right: 40px;
}
header button {
  color: black;
}
header .header {
  padding: 5px;
}

header,
footer {
  background-color: white;
  padding: 12px;
}

.startbutton {
  text-decoration: none;
  background-color: black;
  border-color: black;
  color: white;
  border-radius: 5px;
  margin: 41px;
}
.startbutton a {
  text-decoration: none;
  color: white;
}
input {
  text-decoration: none;
  background-color: black;
  border-color: none;
  color: white;
  border-radius: 5px;
}

/* footershit */
